body {
  padding: 2em 3em;
  font-family: "monospace", sans-serif;
  background: #eee;
  color: #111;
}

#header {
  font-size: 2em;
  border-bottom: thick solid black;
  padding-bottom: 0.2em;
  margin-bottom: 0.2em;
}

#main {
  font-size: 1.3em;
  padding: 0.4em;
  line-height: 1.2;
}

#contact {
  display: flex;
  padding: 0.5em 0;
}

#contact img {
  width: 2rem;
  padding: 0 0.3em;
}

#photos {
  display: flex;
  flex-wrap: wrap;
}

#photos img {
  max-width: 100%;
  width: 360px;
  align-self: center;
  padding: 0.25em;
}
