body {
  padding: 2em 3em;
  font-size: 1.3em;
  max-width: 720px;
  font-family: monospace;
  line-height: 1.2;
  color: #111;
  background: #EEE; 
}

#header {
  display: flex;
  align-items: center;
}

#name {
  font-size: 2em;
  margin-right: 1em;
}

#contact li {
	display: inline;
}

#contact img {
	width: 2rem;
	margin: 0.5em 1em 0 0;
}

@media only screen and (min-width: 1921px) {
	body {
		font-size: 2em;
		max-width: 60%;
	}

	#contact img {
		width: 2rem;
	}
}

@media only screen and (min-width: 2561px) {
	body {
		font-size: 4em;
	}

	#contact img {
		width: 4rem;
	}
}
